@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit;
  list-style: 1.5px;
}

label,
input,
p {
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  margin: 1rem 0;
}

body {
  font-family: "Open sans", serif;
  animation: opening 1s ease-in-out forwards;
}

main {
  background-color: #ededed;
}

.hero {
  width: 90%;
  background-color: white;
  margin: 0 auto;
}

@media screen and (min-width: 1040px) {
  .hero {
    width: 65%;
  }
}
.about {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.about__photo {
  margin: 1.5rem auto;
  max-width: 15rem;
  width: 100%;
  border-radius: 50%;
}
.about__button {
  margin: 1.5rem auto;
  padding: 1rem;
  background-color: rgb(68, 184, 172);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.about__certificate--photo {
  width: 80px;
  margin: 1rem auto;
}

@media screen and (min-width: 1040px) {
  .about {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about__text {
    margin-left: 3rem;
    flex: 1 1 50%;
    text-align: center;
  }
  .about__text {
    display: flex;
  }
  .about__profil {
    display: inline-block;
    flex: 1 1 50%;
    margin: 0;
    padding: 0;
  }
}
.main__article {
  padding: 4rem 2rem;
}

.main__list {
  padding: 2rem;
}

.article__image {
  margin-top: 1rem;
  max-width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.article__text {
  padding-top: 1rem;
}

.article__text h3,
.article__text h4,
.article__text p {
  padding: 0.8rem 0 0.5rem 0;
}

.article__li {
  margin-left: 1rem;
}

.aside__wrapper {
  padding: 3rem 0 0 0;
}

.aside {
  margin: 0;
  text-align: center;
  padding: 3rem 2rem;
}

/*

  &__profil--photo {
    display: flex;
    margin: 2rem auto;
    max-width: 15rem;
    width: 100%;
    border-radius: 50%;
  }

  &__button {
    margin: 2rem auto;
    padding: 1rem;
    background-color: global.$c-third;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  &__certificate--photo {
    width: 80px;
    margin: 1rem auto 1rem auto;
  }*/
@media screen and (min-width: 1040px) {
  .aside__wrapper {
    margin: 0 auto;
    max-width: 90%;
  }
  .aside {
    background-color: white;
    margin: 0 auto;
  }
}
.aside__article {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 350px;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0px 5px 7px rgba(82, 82, 82, 0.5);
}
.aside__article__image {
  width: 300px;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.aside__article__content {
  padding: 0.5rem 0;
  width: 100%;
}
.aside__article__name {
  font-size: 16px;
}
.aside__article a {
  color: rgb(68, 184, 172);
}

@media screen and (min-width: 1040px) {
  .aside__article {
    display: flex;
    max-width: 80%;
    height: 250px;
  }
  .aside__article__image {
    max-width: 250px;
    width: 100%;
    height: 250px;
  }
  .aside__article__content {
    padding: 2rem 0.5;
    display: grid;
    align-items: center;
  }
}
.contact__container {
  text-align: left;
}

.contact__button {
  margin-top: 1rem;
  display: flex;
}

.contact__facebook {
  margin-right: 1rem;
}

.contact__form {
  display: flex;
}

.form-wrapper {
  max-height: 100vh;
  background: url("/images/salon-background9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 400px;
  width: 100%;
}

.form-head {
  text-align: center;
  padding: 2rem;
}

.name-form,
.email-form,
.text-form {
  display: flex;
  justify-content: left;
  padding: 0.5rem;
}

input,
textarea {
  padding: 0.5rem;
  font-size: 12px;
  overflow: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.contact__form button {
  display: flex;
  margin: 1rem 1rem 1rem auto;
  padding: 1rem;
  background-color: rgb(68, 184, 172);
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 1040px) {
  .contact__container {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
  }
  .contact__address {
    width: 50%;
    padding-top: 6rem;
  }
  .contact__form {
    width: 50%;
  }
  .name-form,
  .email-form,
  .text-form {
    justify-content: center;
  }
  input,
  textarea {
    width: 70%;
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  background-image: url("/images/salon-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.footer a {
  color: white;
}
.footer__box {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
}
.footer__address {
  padding: 1rem;
}
.footer__button {
  display: flex;
  padding: 0 1rem;
}
.footer__map {
  padding: 1rem 0;
  overflow: hidden;
}

.footer__copyright {
  background: rgb(37, 37, 37);
  color: white;
  padding: 10px;
  text-align: center;
  border-top: 1px solid white;
}

@media screen and (min-width: 1040px) {
  .footer__map {
    padding: 0;
    overflow: hidden;
  }
}
.gallery__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.gallery__item {
  flex-basis: 100%;
}

.main__photo {
  width: 98%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__photo:hover {
  opacity: 0.7;
}

@media screen and (min-width: 747px) {
  .gallery__item {
    flex-basis: 48.7%;
  }
}
@media screen and (min-width: 1040px) {
  .gallery__item {
    flex-basis: 32.7%;
  }
}
.glide {
  height: 500px;
  box-shadow: 0px 5px 5px rgba(82, 82, 82, 0.5);
}
.glide__site1 {
  background: url("/images/salon.jpg");
}
.glide__site2 {
  background: url("/images/larensproduct2.png");
}
.glide__site3 {
  background: url("/images/poukazy-slider.jpg");
}
.glide__site1, .glide__site2, .glide__site3 {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.glide__site2--box h2 {
  color: rgb(43, 43, 43);
  border: 1px solid rgba(82, 82, 82, 0.5);
  padding: 1rem;
  /*background: linear-gradient(#4b4b4d, #202020);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  background-color: rgba(222, 222, 222, 0.5);
}
.glide__site3 h2 {
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

.header {
  background-color: white;
  box-shadow: 0px 5px 5px rgba(82, 82, 82, 0.5);
  z-index: 1;
  position: sticky;
  top: 0px;
}

.logo {
  display: flex;
  margin: 1rem auto;
  max-width: 9rem;
  width: 100%;
}

@media screen and (min-width: 1040px) {
  .header {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
  }
  .logo {
    max-width: 12rem;
  }
}
/* Ceník */
.list {
  max-width: 600px;
  margin: 0 auto;
}
.list h3 {
  padding: 3rem 0 0.5rem 0;
  text-align: center;
}
.list p,
.list h4 {
  text-align: left;
  margin: 0;
}
.list__box {
  padding: 0.5rem 0;
  border-bottom: 1px solid black;
  line-height: 1.8;
}
.list__title, .list__title--dot {
  display: flex;
  justify-content: space-between;
}
.list__title--dot {
  border-bottom: 1px rgba(82, 82, 82, 0.5) dotted;
}
.list__price {
  font-size: 18px;
  font-weight: bolder;
}
.list__foto {
  display: flex;
  width: 100%;
  padding: 1rem 0 3rem 0;
}

.menu {
  box-shadow: 0px 5px 5px rgba(82, 82, 82, 0.5);
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
  /*display: none*/
}
.menu__togler {
  cursor: pointer;
}
.menu__list {
  display: none;
  list-style: none;
  background-color: #dddbdb;
}
.menu__item {
  border-bottom: 1px solid white;
}
.menu__link {
  display: block;
  padding: 15px 0;
  text-align: center;
}
.menu__item--active, .menu__link {
  background-color: #dddbdb;
}
.menu__link:hover, .menu__link:focus {
  background-color: #a3a3a3;
  color: white;
}
.menu__checkbox:checked ~ .menu__list {
  display: block;
}

@media screen and (min-width: 1040px) {
  .menu {
    box-shadow: none;
    display: flex;
    align-items: center;
    /* test button*/
  }
  .menu__togler {
    display: none;
  }
  .menu__list {
    display: flex;
    background-color: white;
  }
  .menu__link {
    justify-content: space-around;
    background-color: white;
  }
  .menu__item--active {
    background-color: white;
    color: rgb(68, 184, 172);
  }
  .menu__link:hover, .menu__link:focus {
    background-color: white;
    color: rgb(68, 184, 172);
  }
  .menu__item {
    position: relative;
    border: 0;
    outline: none;
    width: 10rem;
  }
  .menu__item::after {
    content: " ";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 0.175rem;
    background: rgb(68, 184, 172);
    transform: scale(0, 1);
    transition: transform 0.3s ease;
  }
  .menu__item:hover::after, .menu__item:active::after {
    transform: scale(1, 1);
    color: rgb(68, 184, 172);
  }
}
.services {
  background-color: white;
  padding: 2rem 1rem;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}
.services h2,
.services h3 {
  margin: 0.5rem 0;
}
.services__foto1, .services__foto2 {
  max-width: 100%;
  width: 300px;
  margin: 0 auto;
}

@media screen and (min-width: 1040px) {
  /* Služby */
  .services {
    max-width: 1100px;
    padding: 50px;
    margin: 0 auto;
    text-align: left;
  }
  .services h2,
  .services h3 {
    margin-top: 30px;
  }
  .services__box, .services__box--second {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .services__text--primary {
    max-width: 550px;
  }
  .services__text--secondary {
    margin-top: 50px;
    max-width: 500px;
    order: 2;
  }
  .services__foto1, .services__foto2 {
    margin: 0;
    display: flex;
    width: 100%;
    max-width: 400px;
  }
  .services__foto1 {
    margin-top: 50px;
  }
  .services__box--second {
    order: 2;
  }
}/*# sourceMappingURL=style.css.map */