@charset "UTF-8";
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit;
}

/*html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(1.7rem + 1vw);
  --header3: calc(1.2rem + 1vw);
  --header4: calc(1rem + 1vw);
  --text: calc(0.5rem + 1vw);
  scroll-behavior: smooth;
}




h1 {
  font-size: var(--header1);
}
li,
a {
  font-size: 18px;
}*/
html {
  list-style: 1.5px;
}

label,
input,
p {
  font-size: 16px;
}

/*h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
}
h4,
h5 {
  font-size: var(--header4);
}*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  font-family: "Open sans", serif;
  -webkit-animation: opening 1s ease-in-out forwards;
          animation: opening 1s ease-in-out forwards;
  background-color: #ededed;
}

h1 {
  font-family: "Open sans", cursive;
}

.hero {
  width: 90%;
  background-color: white;
  margin: 0 auto;
}

.header {
  margin: 0;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(82, 82, 82, 0.5);
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.logo {
  display: flex;
  margin: 1rem auto;
  max-width: 12rem;
  width: 100%;
}

.menu {
  box-shadow: 0px 5px 5px rgba(82, 82, 82, 0.5);
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
  /*display: none*/
}
.menu__togler {
  cursor: pointer;
}
.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
  background-color: #ededed;
}
.menu__item {
  border-bottom: 1px solid white;
}
.menu__link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
}
.menu__item--active .menu__link {
  background-color: #a3a3a3;
  color: white;
}
.menu__link:hover, .menu__link:focus {
  background-color: #a3a3a3;
  color: white;
}
.menu__checkbox:checked ~ .menu__list {
  display: block;
}

/*odsud nahoru hlavička - šablona*/
/* SECTION SLIDER */
.glide {
  height: 500px;
  box-shadow: 0px 5px 5px rgba(82, 82, 82, 0.5);
}
.glide__site1 {
  background: url("/images/salon.jpg");
}
.glide__site2 {
  background: url("/images/larensproduct2.png");
}
.glide__site3 {
  background: url("/images/poukazy-slider.jpg");
}
.glide__site1, .glide__site2, .glide__site3 {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.glide__site2--box h2 {
  color: rgb(43, 43, 43);
  background: linear-gradient(#4b4b4d, #202020);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.glide__site3 h2 {
  background: rgba(19, 28, 39, 0.8);
  padding: 2rem;
}

/* SECTION ABOUT */
.about,
.aside {
  display: block;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}
.about__text,
.aside__text {
  display: flex;
}
.about__profil--photo,
.aside__profil--photo {
  display: flex;
  margin: 2rem auto;
  max-width: 15rem;
  width: 100%;
  border-radius: 50%;
}
.about__button,
.aside__button {
  margin: 2rem auto;
  padding: 1rem;
  background-color: rgb(68, 184, 172);
  border: none;
  border-radius: 20px;
  box-shadow: #a3a3a3;
  cursor: pointer;
}
.about__certificate--photo,
.aside__certificate--photo {
  width: 80px;
  margin: 1rem auto 1rem auto;
}

/* SECTION NEWS */
/*.aside {
  display: block;
  max-width: 400px;
  margin: 10px auto;
}*/
.aside__wrapper {
  padding: 1rem 0;
}

.aside__wrapper h2 {
  margin: 0;
  padding-top: 0.5rem;
  text-align: center;
}

.clanek {
  display: inline-block;
  /*display: grid;
  grid-template-columns: 250px 1fr;
  gap: 30px;*/
  max-width: 300px;
  width: 100%;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 5px 5px rgba(82, 82, 82, 0.5);
  /*&__content {
    margin: 20px;
  }*/
}
.clanek__image {
  width: 100%;
}
.clanek__name {
  padding: 0;
  margin: 0;
}
.clanek__description {
  font-size: 15px;
  padding: 0.5rem;
  justify-content: center;
}
.clanek a {
  padding: 1rem;
  color: rgb(50, 144, 151);
}

/* SECTION FOOTER */
.contact {
  max-height: 90vh;
  padding: 2rem;
  background-image: url("/images/salon-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.contact a {
  color: white;
}
.contact__box {
  padding: 10px;
}
.contact__button {
  margin-top: 1rem;
  display: flex;
}
.contact__facebook {
  margin-right: 1rem;
}
.contact__map {
  display: flex;
}

.footer__copyright {
  background-color: rgba(19, 28, 39, 0.8);
  color: white;
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 1040px) {
  .header {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem auto;
    width: 100%;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  }
  .header__logo {
    display: flex;
  }

  .menu {
    box-shadow: none;
    margin-top: 3rem;
    text-align: center;
    /* test button*/
  }
  .menu__togler {
    display: none;
  }
  .menu__list {
    display: flex !important;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  .menu__link {
    padding: auto;
    justify-content: space-evenly;
    background-color: white;
  }
  .menu__item--active .menu__link {
    text-align: center;
    background-color: white;
    color: rgb(120, 187, 183);
  }
  .menu__link:hover, .menu__link:focus {
    background-color: white;
    color: rgb(120, 187, 183);
  }
  .menu__item {
    position: relative;
    border: 0;
    outline: none;
    width: 10rem;
    margin-bottom: 2rem;
  }
  .menu__item::after {
    content: " ";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 0.175rem;
    background: rgb(68, 184, 172);
    transform: scale(0, 1);
    transition: transform 0.3s ease;
  }
  .menu__item:hover::after, .menu__item:active::after {
    transform: scale(1, 1);
    color: rgb(68, 184, 172);
  }

  /* test button*/
  /* Uvod */
  .hero {
    width: 65%;
  }

  .about {
    background-color: white;
    display: flex;
    text-align: center;
    margin: 0 auto;
  }
  .about__box {
    padding: 8rem 0 2rem 5rem;
    flex: 1 1 50%;
    text-align: center;
  }
  .about__text {
    display: flex;
  }
  .about__profil {
    display: inline-block;
    flex: 1 1 50%;
    margin: 0;
    padding: 0;
  }

  .aside__wrapper {
    background-color: white;
    margin: 0 auto;
  }

  .aside {
    margin: 0 auto;
    max-width: 90%;
  }

  .clanek {
    display: flex;
    flex: 1 1 auto;
    max-width: 80%;
    margin: 1rem auto;
  }
  .clanek__image {
    max-width: 250px;
    width: 100%;
  }

  .contact {
    padding: 2rem auto;
    display: flex;
    justify-content: space-around;
  }

  .contact__box {
    background: rgba(19, 28, 39, 0.8);
    padding: 2rem;
  }
}
.main__article {
  padding: 5rem;
}

.main__list {
  padding: 2rem;
}

.article__title {
  padding-top: 2rem;
}

.article__image {
  max-width: 350px;
  width: 100%;
}

.article__text {
  padding-top: 1rem;
}

.article__text h3,
.article__text h4,
.article__text p {
  padding: 0.8rem 0 0.5rem 0;
}

/*  Aktuality */
.services {
  background-color: white;
  padding: 2rem 3rem;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}
.services li {
  text-align: left;
}
.services h2,
.services h3 {
  margin: 20px 0;
}
.services__foto1, .services__foto2 {
  max-width: 100%;
  width: 300px;
  margin: 0 auto;
}

@media screen and (min-width: 1040px) {
  /* Služby */
  .services {
    max-width: 1100px;
    padding: 50px;
    margin: 0 auto;
    text-align: left;
  }
  .services h2,
.services h3 {
    margin-top: 30px;
  }
  .services__box, .services__box--second {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .services__text--primary {
    max-width: 550px;
  }
  .services__text--secondary {
    margin-top: 50px;
    max-width: 500px;
    order: 2;
  }
  .services__foto1, .services__foto2 {
    margin: 0;
    display: flex;
    width: 100%;
    max-width: 400px;
  }
  .services__foto1 {
    margin-top: 50px;
  }
  .services__box--second {
    order: 2;
  }
}
.gallery h2 {
  padding: 2rem;
  text-align: center;
}

/*.container {
  display: inline-block;
}*/
.main__photo {
  margin: 0 auto;
  display: flex;
  width: 100%;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.main__photo:hover {
  opacity: 0.7;
}

@media screen and (min-width: 1040px) {
  /* Fotogalerie */
  /* .container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(6, 400px);
     gap: 2px;
   }

  /* .main__galery img {
     width: 300px;
     width: 100%;
     height: 100%;
     -o-object-fit: cover;
     object-fit: cover;
   }*/
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .main__photo {
    max-width: 300px;
    flex: 1 1 33.3333333333%;
  }

  /*.main__photo {

  }*/
}
/* Ceník */
.list {
  background-color: white;
  padding: 0 20px;
  max-width: 550px;
  margin: 0 auto;
}
.list h2 {
  padding: 2rem;
  text-align: center;
}
.list p,
.list h3 {
  text-align: left;
  margin: 0;
}
.list h3 {
  margin-bottom: 20px;
}
.list__box {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.list__title {
  display: flex;
  justify-content: space-between;
}
.list__title--dot {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px rgba(19, 28, 39, 0.8) dotted;
}
.list__price {
  font-size: 20px;
  font-weight: bolder;
}
.list__foto {
  display: flex;
  max-width: 550px;
  width: 100%;
}

/* Kontakt */
/*.contact__button {
  margin: 20px;

  /*&__map {
    display: flex;
    max-width: 100%;
    padding-bottom: 20px;
  }*/
/*.contact__button {
  display: flex;
}
.button__facebook,
.button__instagram {
  padding: 0;
}*/
.kontakt__title {
  padding: 2rem;
  text-align: center;
}

.kontakt {
  padding: 0.5rem;
}

.contact__form {
  display: flex;
}

.form-wrapper {
  max-height: 100vh;
  background: url("/images/salon-background9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 300px;
  width: 100%;
  align-items: center;
}

.form-head {
  text-align: center;
  padding: 2rem;
}

.name-form,
.email-form {
  display: flex;
  padding: 1rem;
  text-align: left;
}

.text-form {
  display: flex;
  padding: 1rem;
  text-align: center;
}

.from-wrapper label {
  margin: 0rem 3rem;
}

.contact__form button {
  display: flex;
  margin: 1rem 1rem 1rem auto;
  padding: 1rem;
  background-color: rgb(68, 184, 172);
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
}

.contact__map--site {
  display: flex;
  max-height: 80vh;
  margin: 1rem;
}

@media screen and (min-width: 1040px) {
  /* Kontakt */
  /*.contact {
      display: flex;

      &__box,
      &__map {
        flex-basis: 50%;
      }

      &__map {
        max-width: 500px;
      }

      &__box {
        display: flex;
        flex-direction: column;
      }

      &__address,
      &__button {
        flex-basis: 50%;
      }

      &__button {
        height: 70px;
        max-height: 10%;
        margin: 0;
        justify-content: flex-start;
        flex-shrink: 1;*/
  .kontakt {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-around;
  }

  .contact__address--site {
    padding-top: 6rem;
  }

  .form-wrapper {
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */