@charset "UTF-8";
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit;
}

/*html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(1.7rem + 1vw);
  --header3: calc(1.2rem + 1vw);
  --header4: calc(1rem + 1vw);
  --text: calc(0.5rem + 1vw);
  scroll-behavior: smooth;
}




h1 {
  font-size: var(--header1);
}
li,
a {
  font-size: 18px;
}*/
h2 {
  font-size: 26px;
}

label,
input,
p {
  font-size: 16px;
}

/*h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
}
h4,
h5 {
  font-size: var(--header4);
}*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Open sans", serif;
  -webkit-animation: opening 1s ease-in-out forwards;
          animation: opening 1s ease-in-out forwards;
}

h1 {
  font-family: "Open sans", cursive;
}

/*
.header__photo {
  display: flex;
  max-height: 50rem;
  width: 100%;
  background-size: cover;
}
.projekt {
  width: 90%;
  margin: 0 auto;
  background-color: white;
}*/
.header__logo {
  display: flex;
  margin: 0 auto;
  max-width: 20rem;
  width: 100%;
}

.menu {
  box-shadow: 0px 5px 5px rgba(82, 82, 82, 0.5);
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
  /*display: none*/
}

.menu__togler {
  cursor: pointer;
}

.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
  background-color: #d4d4d4;
}

.menu__item {
  border-bottom: 1px solid white;
}

.menu__link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
}

.menu__item--active .menu__link {
  background-color: rgb(117, 117, 117);
  color: white;
}

.menu__link:hover,
.menu__link:focus {
  background-color: #a3a3a3;
  color: white;
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
}

/*odsud nahoru hlavička - šablona*/
/* Úvod */
.glide {
  height: 500px;
}

.site1 {
  background: url("/images/salon.jpg");
}

.site2 {
  background: url("/images/larensproduct2.png");
}

.site3 {
  background: url("/images/poukazy-slider.jpg");
}

.site1,
.site2,
.site3 {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.site2 {
  color: black;
}
.site2 h2 {
  border: 1px solid grey;
  padding: 20px;
}

/*.glide img {
  width: 100%;
}*/
.about {
  display: block;
  width: 90%;
  margin: auto;
  text-align: center;
}

.about__text {
  text-align: center;
  padding: 10px;
}

.about__profil {
  display: flex;
  margin: 2rem auto;
  max-width: 300px;
  width: 100%;
  border-radius: 50%;
}

.button {
  display: block;
  margin: 2rem auto;
  padding: 2rem;
  background-color: rgb(19, 110, 83);
  color: white;
  border: none;
  border-radius: 30px;
  box-shadow: #a3a3a3;
  cursor: pointer;
}

.certificate {
  text-align: center;
}

.certificate__photo {
  display: block;
  width: 80px;
  margin: 5px auto 100px auto;
}

.clanek {
  border: 1px solid #dcd7d0;
  display: flex;
  flex-direction: column;
}

.clanek__image {
  display: block;
  max-width: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.clanek__content {
  flex: 1;
  padding: 20px;
  background: #fffffc;
}

.clanek__name {
  margin: 0 0 20px 0;
}

.clanek__description {
  font-size: 15px;
}

.footer__copyright {
  display: block;
  background-color: rgb(19, 110, 83);
  color: white;
  margin-top: 100px;
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 1040px) {
  /* .header {
    display: flex;
    justify-content: space-between;
    padding: 30px 150px;
  }
  .header__logo {
    display: flex;
    margin: 0;
  }*/
  /* .slider {
     height: 300px;
   }*/
  .menu__togler {
    display: none;
  }

  .menu__list {
    display: flex !important;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: white;
  }

  .menu__item {
    border-bottom: 0;
  }

  .menu__link {
    padding: 20px 50px;
    background-color: white;
  }

  /* Uvod */
  .main__box {
    padding: 40px;
    display: flex;
  }

  .main__text {
    padding: 60px;
    text-align: center;
    max-width: 50%;
  }

  .main__product {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
  }
}
.clanek {
  border: 1px solid #dcd7d0;
  display: flex;
  flex-direction: column;
}

.clanek__image {
  display: block;
  max-width: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.clanek__content {
  flex: 1;
  padding: 20px;
  background: #fffffc;
}

.clanek__name {
  margin: 0 0 20px 0;
}

.clanek__description {
  font-size: 15px;
}

/*  Aktuality */
.services {
  padding: 0 20px;
  margin: 60px auto 30px auto;
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.services li {
  text-align: left;
}
.services h2,
.services h3 {
  margin: 20px 0;
}
.services__foto1, .services__foto2 {
  max-width: 100%;
  width: 300px;
  margin: 0 auto;
}

@media screen and (min-width: 1040px) {
  /* Služby */
  .services {
    max-width: 1100px;
    padding: 50px;
    margin: 0;
    text-align: left;
  }
  .services h2,
.services h3 {
    margin-top: 30px;
  }
  .services__box, .services__box--second {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .services__text--primary {
    max-width: 550px;
  }
  .services__text--secondary {
    margin-top: 50px;
    max-width: 500px;
    order: 2;
  }
  .services__foto1, .services__foto2 {
    margin: 0;
    display: flex;
    width: 100%;
    max-width: 400px;
  }
  .services__foto1 {
    margin-top: 50px;
  }
  .services__box--second {
    order: 2;
  }
}
.container {
  display: inline-block;
  margin: 0 auto;
  border: 1px solid #ece2df;
}

@media screen and (min-width: 1040px) {
  /* Fotogalerie */
  /* .container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(6, 400px);
     gap: 2px;
   }

  /* .main__galery img {
     width: 300px;
     width: 100%;
     height: 100%;
     -o-object-fit: cover;
     object-fit: cover;
   }*/
  .container {
    display: flex;
    flex-wrap: wrap;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
  }
}
/* Ceník */
.list {
  padding: 20px 20px;
  max-width: 550px;
  margin: 0 auto;
}
.list h1 {
  text-align: center;
}
.list p,
.list h3 {
  text-align: left;
  margin: 0;
}
.list h3 {
  margin-bottom: 20px;
}
.list__box {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.list__title {
  display: flex;
  justify-content: space-between;
}
.list__price {
  font-size: 20px;
  font-weight: bolder;
}
.list__foto {
  display: flex;
  max-width: 550px;
  width: 100%;
}

/* Kontakt */
/*.contact__button {
  margin: 20px;

  /*&__map {
    display: flex;
    max-width: 100%;
    padding-bottom: 20px;
  }*/
.contact__button {
  display: flex;
}

.button__facebook,
.button__instagram {
  padding: 0;
}

/* Kontakt */
/*.contact {
    display: flex;

    &__box,
    &__map {
      flex-basis: 50%;
    }

    &__map {
      max-width: 500px;
    }

    &__box {
      display: flex;
      flex-direction: column;
    }

    &__address,
    &__button {
      flex-basis: 50%;
    }

    &__button {
      height: 70px;
      max-height: 10%;
      margin: 0;
      justify-content: flex-start;
      flex-shrink: 1;
    }*//*# sourceMappingURL=style.css.map */