@use 'global';

.main__article {
  padding: 4rem 2rem;
}

.main__list {
  padding: 2rem;
}


.article__image {
  margin-top: 1rem;
  max-width: 300px;
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.article__text {
  padding-top: 1rem;
}

.article__text h3,
.article__text h4,
.article__text p {
  padding: 0.8rem 0 0.5rem 0;
}

.article__li {
  margin-left: 1rem;
}