@use 'global';

.aside {
  display: block;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;

  &__text {
    display: flex;
  }

  &__profil--photo {
    display: flex;
    margin: 2rem auto;
    max-width: 15rem;
    width: 100%;
    border-radius: 50%;
  }

  &__button {
    margin: 2rem auto;
    padding: 1rem;
    background-color: global.$c-third;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  &__certificate--photo {
    width: 80px;
    margin: 1rem auto 1rem auto;
  }

  &__wrapper {
    padding: 1rem 0;
  }

  &__wrapper h2 {
    margin: 0;
    padding-top: 0.5rem;
    text-align: center;
  }
}

@media screen and (min-width: 1040px) {

  .aside {
    margin: 0 auto;
    max-width: 90%;

    &__wrapper {
      background-color: global.$c-primary;
      margin: 0 auto;
    }
  }
}