@use "global";

/* Kontakt */
/*.contact__button {
  margin: 20px;

  /*&__map {
    display: flex;
    max-width: 100%;
    padding-bottom: 20px;
  }*/
/*.contact__button {
  display: flex;
}
.button__facebook,
.button__instagram {
  padding: 0;
}*/

.kontakt__title {
  padding: 2rem;
  text-align: center;
}

.kontakt {
  padding: 2rem;
}




@media screen and (min-width: 1040px) {


/* Kontakt */
/*.contact {
    display: flex;

    &__box,
    &__map {
      flex-basis: 50%;
    }

    &__map {
      max-width: 500px;
    }

    &__box {
      display: flex;
      flex-direction: column;
    }

    &__address,
    &__button {
      flex-basis: 50%;
    }

    &__button {
      height: 70px;
      max-height: 10%;
      margin: 0;
      justify-content: flex-start;
      flex-shrink: 1;*/

  .kontakt {
    display: flex;
    padding: 5rem 3rem 15rem 3rem;
   justify-content: space-around;
  }

}
