@use 'global';

.contact__container {
  text-align: left;
}

.contact__button {
  margin-top: 1rem;
  display: flex;
}

.contact__facebook {
  margin-right: 1rem;
}

.contact__form {
  display: flex;
}


.form-wrapper {
  max-height: 100vh;
  background: url('/images/salon-background9.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 400px;
  width: 100%;
}

.form-head {
  text-align: center;
  padding: 2rem;
}

.name-form,
.email-form,
.text-form {
  display: flex;
  justify-content: left;
  padding: 0.5rem;
}

input,
textarea {
  padding: 0.5rem;
  font-size: 12px;
  overflow: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.contact__form button {
  display: flex;
  margin: 1rem 1rem 1rem auto;
  padding: 1rem;
  background-color: global.$c-third;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
}



@media screen and (min-width: 1040px) {

  .contact__container {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
  }

  .contact__address {
    width: 50%;
    padding-top: 6rem;
  }

  .contact__form {
    width: 50%;
    //margin-left: 8rem;
  }

  .name-form,
  .email-form,
  .text-form {
    justify-content: center;
  }

  input,
  textarea {
    width: 70%;
  }
}