@use "global";

/* Kontakt */
/*.contact__button {
  margin: 20px;

  /*&__map {
    display: flex;
    max-width: 100%;
    padding-bottom: 20px;
  }*/
/*.contact__button {
  display: flex;
}
.button__facebook,
.button__instagram {
  padding: 0;
}*/

.kontakt__title {
  padding: 2rem;
  text-align: center;
}

.kontakt {
  padding: 0.5rem;
}

.contact__form {
  display: flex;
 
}

.form-wrapper {
  
  max-height: 100vh;
  background: url('/images/salon-background9.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 300px;
  width: 100%;
  align-items: center;
  

}

.form-head {
  text-align:center;
  padding: 2rem;
}

.name-form,
.email-form {
  display: flex;
  padding: 1rem;
  text-align: left;
}
.text-form {
  display: flex;
  padding: 1rem;
  text-align: center;
}

.from-wrapper label {
  margin: 0rem 3rem;
}

.contact__form button {
  display: flex;
  margin: 1rem 1rem 1rem auto;
  padding: 1rem;
  background-color: rgb(68, 184, 172);
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
}

.contact__map--site {
  display: flex;
  max-height: 80vh;
  margin: 1rem ;
}


@media screen and (min-width: 1040px) {


/* Kontakt */
/*.contact {
    display: flex;

    &__box,
    &__map {
      flex-basis: 50%;
    }

    &__map {
      max-width: 500px;
    }

    &__box {
      display: flex;
      flex-direction: column;
    }

    &__address,
    &__button {
      flex-basis: 50%;
    }

    &__button {
      height: 70px;
      max-height: 10%;
      margin: 0;
      justify-content: flex-start;
      flex-shrink: 1;*/

  .kontakt {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-around;
  }

  .contact__address--site {
    padding-top: 6rem;
  }

  .form-wrapper {
    max-width: 100%;
  }

}
