@use "global";

.main__galery {
  display: block;
  max-width: 100%;
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ece2df;
}

@media screen and (min-width: 1040px) {
  /* Fotogalerie */
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 400px);
    gap: 2px;
  }

  .main__galery img {
    width: 300px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  /*.container {
      display: flex;
      flex-wrap: wrap;
    }
    */
}
