@use "global";

.gallery__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.gallery__item {
  flex-basis: 100%;
}


.main__photo {
  width: 98%;
  object-fit: cover;
}

.main__photo:hover {
  opacity: .7;
}

@media screen and (min-width: 747px) {
  .gallery__item {
    flex-basis: 48.7%;
  }
}


@media screen and (min-width: 1040px) {
  .gallery__item {
    flex-basis: 32.7%;
  }
}