@use 'global';

.glide {
  height: 500px;
  box-shadow: 0px 5px 5px global.$c-shadow;

  &__site1 {
    background: url("/images/salon.jpg");
  }

  &__site2 {
    background: url("/images/larensproduct2.png");

  }

  &__site3 {
    background: url("/images/poukazy-slider.jpg");
  }

  &__site1,
  &__site2,
  &__site3 {
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: global.$c-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  &__site2--box h2 {
    color: rgb(43, 43, 43);
    border: 1px solid global.$c-shadow;
    padding: 1rem;
    /*background: linear-gradient(#4b4b4d, #202020);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    background-color: rgba(222, 222, 222, 0.5);
  }

  &__site3 h2 {
    background: global.$c-transparent;
    padding: 2rem;
  }
}