* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit;
}

$c-primary: white;
$c-secondary: #a3a3a3;
$c-third: rgba(68, 184, 172);
$c-shadow: rgba(82, 82, 82, 0.5);
$c-fourth: #dddbdb;
$c-transparent: rgba(0, 0, 0, 0.5);


html {
  list-style: 1.5px;
}

label,
input,
p {
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  font-family: "Open sans", serif;
  animation: opening 1s ease-in-out forwards;
  background-color: #ededed;
}

h1 {
  font-family: "Open sans", cursive;
}

.hero {
  width: 90%;
  background-color: $c-primary;
  margin: 0 auto;
}

@media screen and (min-width: 1040px) {
  .hero {
    width: 65%;
  }
}