@use "global";

.hero {
  width: 90%;
  background-color: white;
  margin: 0 auto;
  
}

.header {
  margin: 0;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(82, 82, 82, 0.5);
  z-index: 2;
  position: sticky;
    top: 0px;
    
  
}
.logo {
    display: flex;
    margin: 1rem auto;
    max-width: 12rem;
    width: 100%;
}

.menu {
  box-shadow: 0px 5px 5px rgba(82, 82, 82, 0.5);

  &__checkbox {
    position: absolute;
    left: -9999px;
    /*display: none*/
  }
  &__togler {
    cursor: pointer;
  }
  &__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;
    background-color: #ededed;
  }
  &__item {
    border-bottom: 1px solid white;
  }
  &__link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
  }

  &__item--active 
  &__link {
    background-color: #a3a3a3;
    color: white;
  }

  &__link:hover,
  &__link:focus {
    background-color: #a3a3a3;
    color: white;
  }


  &__checkbox:checked ~ &__list {
    display: block;
  }
}


/*odsud nahoru hlavička - šablona*/
/* SECTION SLIDER */
.glide {
  height: 500px;
  box-shadow: 0px 5px 5px rgba(82, 82, 82, 0.5);

  &__site1 {
    background: url("/images/salon.jpg");
  }

  &__site2 {
    background: url("/images/larensproduct2.png");
    
  }

  &__site3 {
    background: url("/images/poukazy-slider.jpg");
  }

  &__site1,
  &__site2, 
  &__site3 {
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

 
  &__site2--box h2 {
    color: rgb(43, 43, 43);
    background: linear-gradient(#4b4b4d, #202020); 
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  &__site3 h2 {
    background: rgba(19, 28, 39, 0.8);
    padding: 2rem;
  }
}

/* SECTION ABOUT */

.about,
.aside {
  display: block;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  
  &__text {
    display: flex;
  }

  &__profil--photo {
    display: flex;
    margin: 2rem auto;
    max-width: 15rem;
    width: 100%;
    border-radius: 50%;
  }

  &__button {
    margin: 2rem auto;
    padding: 1rem;
    background-color: rgb(68, 184, 172);
    border: none;
    border-radius: 20px;
    box-shadow: #a3a3a3;
    cursor: pointer;
  }

  &__certificate--photo {
    width: 80px;
    margin: 1rem auto 1rem auto;
  }

}
/* SECTION NEWS */
/*.aside {
  display: block;
  max-width: 400px;
  margin: 10px auto;
}*/

.aside__wrapper {
  padding: 1rem 0;
}
.aside__wrapper h2 {
    margin: 0;
    padding-top: 0.5rem;
    text-align: center;
  }



.clanek {
  display: inline-block;
 // display: grid;
  //grid-template-columns: 250px 1fr;
  //gap: 30px;
  max-width: 300px;
  width: 100%;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 5px 5px rgba(82, 82, 82, 0.5);

  &__image {
    width: 100%;
  }

  /*&__content {
    margin: 20px;
  }*/

  &__name {
    padding: 0;
    margin: 0;
    
  }

  &__description {
    font-size: 15px;
    padding: 0.5rem;
    justify-content: center;
  }

  a {
    padding: 1rem;
    color: rgb(50, 144, 151);
  }
}

/* SECTION FOOTER */ 
.contact {
  max-height: 90vh;
  padding: 2rem;
  background-image: url("/images/salon-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;

  a {
    color: white;
  }
  
  &__box {
    padding: 10px;
  }

  &__button {
    margin-top: 1rem;
    display: flex;
  }

  &__facebook {
    margin-right: 1rem;
  }

  &__map {
    display: flex;
  }
}

.footer__copyright {
  background-color: rgb(60, 60, 60);
  color: white;
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 1040px) {

  
  .header {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem auto;
    width: 100%;
    background-color: white;
    
    position: sticky;
    top: 0px;
    

  &__logo {
    display: flex;
  } 
}
  .menu {
    box-shadow: none;
    margin-top: 3rem;
    text-align: center;
    
  
  &__togler {
    display: none;
  }

  &__list {
    display: flex !important;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: white;
    
  }

  &__link {
    padding: 20px 50px;
    background-color: white;
    
  }

  &__item--active 
  &__link {
    background-color: white;
    color: rgb(120, 187, 183);
    
  }

  &__link:hover,
  &__link:focus {
    background-color: white;
    color: rgb(120, 187, 183);
  }

  /* test button*/

    &__item {
        position: relative;
        border: 0;
        outline: none;
        width: 10rem;
        margin-bottom: 2rem;
        
      }

    &__item::after {
        content: ' ';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 0.175rem;
        
        background: rgb(68, 184, 172);
        
        transform: scale(0, 1);
        transition: transform 0.3s ease;
      }

      &__item:hover::after,
      &__item:active::after
       {
        transform: scale(1, 1);
        color: rgb(68, 184, 172);
      }

}
 /* test button*/

  /* Uvod */

 .hero {
   width: 65%;
 }
  .about {
    background-color: white;
    display: flex;
    text-align: center;
    margin: 0 auto;
    
    &__box {
      padding: 8rem 0 2rem 5rem;
      flex: 1 1 50%;
      text-align: center;
    }

    &__text {
      display: flex;
    }
  
    &__profil {
      display: inline-block;
      flex: 1 1 50%;
      margin: 0;
      padding: 0;
    }
  }
  .aside__wrapper {
    background-color: white;
    text-align: center;
    margin: 0 auto;
  }

  .aside {
    margin: 0 auto;
    //display: flex;
    max-width: 90%;

  }

  .clanek {
    display: flex;
    flex: 1 1 auto;
    max-width: 80%;
    margin: 1rem auto;
    

    &__image {
      max-width: 250px;
      width: 100%;
    }
  }

  .contact {
    padding: 2rem auto;
    display: flex;
    justify-content: space-around;
  }

  .contact__box {
    
    background: rgba(19, 28, 39, 0.8);
    padding: 2rem;
  }
}