@use "global";


/*
.header__photo {
  display: flex;
  max-height: 50rem;
  width: 100%;
  background-size: cover;
}
.projekt {
  width: 90%;
  margin: 0 auto;
  background-color: white;
}*/

.header {
  &__logo {
    display: flex;
    margin: 0 auto;
    max-width: 20rem;
    width: 100%;
  }
}
.menu {
  box-shadow: 0px 5px 5px rgba(82, 82, 82, 0.5);
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
  /*display: none*/
}
.menu__togler {
  cursor: pointer;
}
.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
  background-color: #d4d4d4;
}
.menu__item {
  border-bottom: 1px solid white;
}
.menu__link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
}

.menu__item--active .menu__link {
  background-color: rgb(117, 117, 117);
  color: white;
}
.menu__link:hover,
.menu__link:focus {
  background-color: #a3a3a3;
  color: white;
}
.menu__checkbox:checked ~ .menu__list {
  display: block;
}

/*odsud nahoru hlavička - šablona*/
/* Úvod */
.glide {
  height: 500px;
}
.site1 {
  background: url("/images/salon.jpg");
}

.site2 {
  background: url("/images/larensproduct2.png");
  
}

.site3 {
  background: url("/images/poukazy-slider.jpg");
}

.site1,
.site2, 
.site3 {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.site2 {
  color: black;

  h2 {
    border: 1px solid grey;
    padding: 20px;
  }
}




/*.glide img {
  width: 100%;
}*/

.about {
  display: block;
  width: 90%;
  margin: auto;
  text-align: center;
}

.about__text {
  text-align: center;
  padding: 10px;
}

.about__profil {
  display: flex;
  margin: 2rem auto;
  max-width: 300px;
  width: 100%;
  border-radius: 50%;
}

.button {
  display: block;
  margin: 2rem auto;
  padding: 2rem;
  background-color: rgb(19, 110, 83);
  color: white;
  border: none;
  border-radius: 30px;
  box-shadow: #a3a3a3;
  cursor: pointer;
}

.certificate {
  text-align: center;
}

.certificate__photo {
  display: block;
  width: 80px;
  margin: 5px auto 100px auto;
}

.clanek {
  border: 1px solid #dcd7d0;
  display: flex;
  flex-direction: column;
}

.clanek__image {
  display: block;
  max-width: 250px;
  width: 100%;
  object-fit: cover;
}

.clanek__content {
  flex: 1;
  padding: 20px;
  background: #fffffc;
}

.clanek__name {
  margin: 0 0 20px 0;
}

.clanek__description {
  font-size: 15px;
}

.footer__copyright {
  display: block;
  background-color: rgb(19, 110, 83);
  color: white;
  margin-top: 100px;
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 1040px) {
  /* .header {
    display: flex;
    justify-content: space-between;
    padding: 30px 150px;
  }
  .header__logo {
    display: flex;
    margin: 0;
  }*/
 /* .slider {
    height: 300px;
  }*/
  .menu__togler {
    display: none;
  }

  .menu__list {
    display: flex !important;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  .menu__item {
    border-bottom: 0;
  }
  .menu__link {
    padding: 20px 50px;
    background-color: white;
  }
  /* Uvod */

  .main__box {
    padding: 40px;
    display: flex;
  }
  .main__text {
    padding: 60px;
    text-align: center;
    max-width: 50%;
  }
  .main__product {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
  }
}
