@use "global";

.main__article {
  padding: 5rem;
}

.main__list {
  padding: 2rem;
}

.article__title {
  padding-top: 2rem;
}

.article__image {
  max-width: 350px;
  width: 100%;
}



/*  Aktuality */
@media screen and (min-width: 1040px) {
}
