@use "global";

/*.clanek {
  border: 1px solid #dcd7d0;
  display: flex;
  flex-direction: column;
}

.clanek__image {
  display: block;
  max-width: 500px;
  width: 100%;
  object-fit: cover;
}

.clanek__content {
  flex: 1;
  padding: 20px;
  background: #fffffc;
}

.clanek__name {
  margin: 0 0 20px 0;
}

.clanek__description {
  font-size: 15px;
}

/*  Aktuality */
@media screen and (min-width: 1040px) {
}
