<div class="kontakty">
  <p><strong>Pavlína Hintnaus Kloudová</strong></p>
      <p><strong>ičo:</strong> 123654789</p>
      <p>Česká 638/8 Residence Kaskáda, 58601 Jihlava - Horní Kosov</p>
      <p>
        <strong>tel:</strong> +420 774 530 957<br />
        <strong>e-mail:</strong>
        <a href="mailto:diamondsalon638@gmail.com">diamondsalon638@gmail.com</a
        ><br />
        <strong>Otevírací doba:</strong> dle domluvy
      </p>
</div>
<div class="footer__copyright">
    &copy;2021, Pavlína Kloudová
</div>