<!-- Kontakt -->
{% if page.fileSlug !== 'kontakt' %}

<section class="contact">
  <div class="contact__box">
    <div class="contact__address">
      <p><strong>Pavlína Hintnaus Kloudová</strong></p>
      <p><strong>IČO: </strong>09267191</p>
      <p>Česká 638/8 Residence Kaskáda, 58601 Jihlava - Horní Kosov</p>
      <p>
        <strong>tel: </strong> +420 774 530 957<br />
        <strong>e-mail: </strong>
        <a href="mailto:diamondsalon638@gmail.com">diamondsalon638@gmail.com</a
        ><br />
        <strong>Otevírací doba: </strong> dle domluvy
      </p>
    </div>
    <div class="contact__button">
      <div class="contact__facebook">
        <a
          href="https://www.facebook.com/Diamond-kosmetick%C3%BD-sal%C3%B3n-110940077300763/"
          ><img src="/images/fb.svg" alt="facebook" width="70"
        /></a>
      </div>
      <div class="contact__instagram">
        <a
          href="https://www.instagram.com/diamond_kosmetika/?fbclid=IwAR1PNkIwagCR5Fq2vdIW_e-BnkgRCrEMomgTm0YoEhdHloLek4voPgkykHA"
          ><img src="/images/insta.svg" alt="instagram" width="70"
        /></a>
      </div>
    </div>
  </div>

  <div class="contact__map">
    <iframe
      style="border: none"
      src="https://frame.mapy.cz/zakladni?x=15.5503670&y=49.4059924&z=17&source=addr&id=14015666"
      width="500"
      height="350"
      frameborder="0"
    ></iframe>
  </div>
</section>

{% endif %}


<div class="footer__copyright">
    &copy;2022, Pavlína Kloudová
</div>