<!DOCTYPE html>
<html lang="cs">
<head>
 <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Profesionální kosmetika Jihlava."
    />
    <meta name="robots" content="index,follow" />
  <title>Diamond kosmetický salón</title>

  <!-- Google Fonts: Raleway 400, Open Sans 400(i)/700(i) -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">

  <!-- Naše vlastní CSS -->
  
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/glide.core.css">
  <link rel="stylesheet" href="/css/glide.theme.css">
  
</head>

<body>
  
   {% include "partials/header.njk" %}

   {% include "partials/menu.njk" %}

    <main class="main">
     
      {{ content | safe }}

    </main>

  {% include "partials/footer.njk" %}

  <script src="/fslightbox.js"></script>


  <script src="glide.min.js"></script>
  <script>
    const config = {
      autoplay: 5000,
      hoverpause: false,
      type: 'carousel'
    }
  new Glide('.glide', config).mount()
</script>
  
 
    
</body>
</html>