<!DOCTYPE html>
<html lang="cs">
<head>
 <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Diamond kosmetický salón, Pedikůra Jihlava, Profesionální kosmetika Jihlava. "/>
  <meta name="robots" content="index,follow" />
  <meta name="author" content="Veronika Vokounová"/>
  <title>Diamond kosmetický salón | Kosmetika Jihlava | Pedikůra Jihlava</title>

    <!--OpenGraph meta tag-->
  <meta property="og:title" content="Diamond Salon Jihlava">
  <meta property="og:description" content="Kosmetika Jihlava, Pedikůra Jihlava">
  <meta property="og:type" content="website">
  <meta property="og:image" content="salon-meta.jpg">
  <meta property="og:url" content="https://diamondsalon.cz">
  <meta property="og:locale" content="cz_CZ">

  <!-- Google Fonts: Raleway 400, Open Sans 400(i)/700(i) -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">

  
  <!-- Naše vlastní CSS -->

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/glide.core.css">
  <link rel="stylesheet" href="/css/glide.theme.css">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#ffffff">

</head>

<body>
  
  {% include "partials/header.njk" %}
    <main class="main">
      {{ content | safe }}
    </main>
  {% include "partials/footer.njk" %}

<script src="/app.js"></script>
<script src="/fslightbox.js"></script>
<script src="/glide.min.js"></script>
<script>
  const config = {
    autoplay: 5000,
    hoverpause: false,
    type: 'carousel'
  }
  new Glide('.glide', config).mount()
</script>

<!-- EmailJS -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
  (function(){
      emailjs.init("oOLcKm4NErRkKNPl6");
  })();
</script>
  
 
    
</body>
</html>